@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Work Sans", sans-serif;
}
/* shared style */
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.btn-primary{
  padding: 20px 25px;
  background: #FF900E;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  border: none;
  margin-bottom: 50px;
}
.header-bg-primary{
  background: #FF900E1A;
}
/* navbar style */
.navbar{
  padding: 50px 0px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo{
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
nav ul{
  display: flex;
}
nav ul li{
  margin-right: 30px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
.banner{
  padding-top: 120px;
  padding-bottom: 50px;
}
.banner-text{
  text-align: center;
  max-width: 860px;
  margin:  0 auto;
}
.banner-title{
  color: #131313;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
}
.banner-description{
  text-align: center;
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  
}
.banner-img{
  max-width: 100%;
}

/* team member section */
.flex{
  display: flex;
  gap: 70px;
}
.team-member-img-wapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.team-member-img-wapper img{
  max-width: 100%;
}
.team-section{
  margin: 85px 0px;
}
.team-member-text-wapper{
  display: flex;
  align-items: center;
}
.quick-list{
  font-weight: 500;
  font-size: 45px;
  color:#727272;
}
.feature{
  color: #FF900E;
  font-weight: 700;
  font-size: 45px;
}
.our-of{
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.team-member-text h1{
  max-width: 460px;
  margin-bottom: 25px;
}
.team-member-description{
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.love-and-enjoy-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
}
.love-and-enjoy-features-section{
  margin: 120px 0px;
}
.love-and-enjoy-features-left h2{
  font-weight: 700;
  font-size: 2.81rem;
  color: #131313;
  max-width: 460px;
  margin-bottom: 25px;
  border-left: 4px solid #ff900e;
  padding-left: 15px;
}
.love-and-enjoy-features-left p{
  font-weight: 400;
  color: #727272;
  margin-bottom: 30px;
}
.features-secton-card{
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
}
.features-secton-card h4{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.features-secton-card p{
font-weight: 400;
color: #727272;
}
.love-and-enjoy-features-right img{
  max-width: 100%;
}
.love-and-enjoy-features-right{
  position: relative;
}
.ten-year-experience{
  padding: 45px 40px;
  background-color: #FF900E;
  border-radius: 8px;
  max-width: 340px;
  position: absolute;
  bottom: -25px;
  left: -74px;
  
}
.ten-year-experience h2{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 4.06rem;

}
.ten-year-experience p{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.some-fact{
  margin-bottom: 100px;
}
.some-fact h3{
  font-size: 2.81rem;
  color: #131313;
  font-weight: 700;
  margin-bottom: 24px;
}
.some-fact p{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  width: 50%;
}
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  margin-top: 100px;
}
.fact-wapper{
  padding: 50px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fact-wapper p{
  text-align: center;
  width: 100%;
}




















/* responsive media query */

@media (max-width: 576px) {
  .banner-title{
    font-size: 2rem;
  }
  nav{
    flex-direction: column;
  }
  .flex{
    flex-direction: column-reverse;
  }
  .team-member-img-wapper, .love-and-enjoy-grid,.fact-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width:577px) and (max-width:992px) {
    .fact-container{
      grid-template-columns: repeat(2, 1fr);
    }
}

